* {
  box-sizing: border-box;
}

html,
select,
input,
textarea {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(118, 118, 118);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus,
input[type="tel"]:focus {
  background-color: rgb(134, 232, 243);
  transition: 1.5s;
}

h1 {
  font-size: 1.6rem;
  color: rgb(23, 23, 42);
}

button {
  width: 100%;
  min-height: 64px;
  margin: 4px 0;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: rgb(94, 209, 209);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(23, 23, 42);
}

header {
  background-color: rgb(23, 23, 42);
  color: white;
  margin: 0;
  text-align: center;
  padding: 32px;
}

header h2 {
  margin: 0;
}
.intro_section {
  text-align: center;
  border-bottom: 2px solid rgb(23, 23, 42);
}
.intro_text {
  padding-bottom: 24px;
}

hr {
  background-color: rgb(23, 23, 42);
  height: 4px;
  margin: 3px 0;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  color: rgb(23, 23, 42);
  font-weight: bold;
}

.wrapper {
  padding: 16px 10px;
  margin: 8px 8px 0;
}

fieldset {
  border: none;
  padding: 16px 0;
  margin: 16px 0;
}

.newsletter_section {
  padding-bottom: 0;
  margin-top:24px;
}

.contact_section,
.textarea_container {
  display: flex;
  flex-direction: column;
}

.newsletter_type_container,
.newsletter_format_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.newsletter_type_container input,
.newsletter_format_container input {
  margin-right: 8px;
}
.newsletter_type_container label,
.newsletter_format_container label {
  flex: 1 calc(100% - 21px);
  margin: 8px 0;
}

.textarea_label {
  padding-top: 16px;
}
.textarea_container {
  margin: 16px 0;
}

textarea {
  resize: none;
  height: 100%;
  min-height: 100px;
  width: 100%;
  border: none;
  background:  rgb(229, 229, 216);
  flex: 1;
  margin: 4px 0;
  border-radius: 6px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
  border: none;
  background: rgb(229, 229, 216);
  flex: 1;
  margin: 8px 0 14px;
  border-radius: 6px;
  min-height: 52px;
}

.contact_section {
  border-bottom: 2px solid rgb(23, 23, 42);
  margin-top: 24px;
}

footer {
  text-align: center;
  font-style: italic;
  color: white;
  padding-top: 20px;
  padding-bottom: 150px;
  background-color: rgb(23, 23, 42);
}

label {
  margin-bottom: 8px;
}

input::placeholder, textarea::placeholder {
  color: grey;
  font-size: 0.9rem;
  font-style: italic;
  text-align: right;
  margin-right: 12px;
}

input[id="zip"] {
  max-width:50%;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .contact_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
  }

  .contact_section input,
  .contact_section select {
    flex: 1 75%;
    }

  input[id="zip"] {
  max-width:25%;
}

  .contact_section label {
    flex: 1 25%;
    width: 25%;
  }

  .zip_label {
    max-width: 25%;
  }

  .wrapper {
    max-width: 960px;
    margin: 0 auto
  }
}
